<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/estiloagregar.css' %}">
    <title>Agregar Caballo</title>
</head>
<body>
    <h1>Agregar Caballo</h1>
    {% if form.errors %}
        <div style="color: red;">Corrige lo errores antes de enviar el formulario.</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% for field in form %}
            {% if field.errors %}
                <div style="color: red;">{{ field.label }}: {{ field.errors|join:", " }}</div>
            {% endif %}
        {% endfor %}

        <input type="submit" value="Registrar Caballo">
        <a href="/caballosos">Caballos</a>
    </form>

</body>
</html>